@{
    ViewBag.Title = "Player Types";
    Layout = "_AdminLayout";
}

@section Scripts
{
    <script src="~/js/controllers/playertypesctrl.js"></script>
    <script src="~/js/directives/controls.js"></script>
}

<div class="container">
    <div class="row">
        <h2 class="text-center">@ViewBag.Title</h2>
        <div ng-controller="playerTypes as vm">
            <table ng-hide="vm.isLoading" class="table table-bordered table-hover table-condensed table-striped no-border">
                <tr>
                    <th class="col-md-1">ID</th>
                    <th class="col-md-9">Name</th>
                    <th class="col-md-2"></th>
                </tr>
                <tr ng-repeat="item in vm.playerTypes" ng-form name="ptForm">
                    <td>{{item.id}}</td>
                    <td>
                        <span ng-hide="item.editMode">{{item.type}}</span>
                        <input name="txtPlayerType" ng-show="item.editMode" ng-model="item.type" required="required"/>
                        <span class="error" ng-show="ptForm.txtPlayerType.$error.required ">Name is required!</span>
                    </td>
                    <td crud-buttons/>
                </tr>
                <tr add-new-row/>
            </table>
        </div>
    </div>
</div>