@{
    ViewBag.Title = "Player Types";
    Layout = "_AdminLayout";
}

@section Scripts
{
    <script src="~/js/main-module.js"></script>
    <script src="~/js/controllers/playertypesctrl.js"></script>
}

<div ng-app="admin-main" class="container col-md-6 col-md-offset-2">
    <div ng-controller="playerTypes as vm">
        <table class="table table-bordered table-hover table-condensed table-striped">
            <tr>
                <th class="col-md-1">ID</th>
                <th class="col-md-3">Name</th>
                <th class="col-md-2"></th>
            </tr>
            <tr ng-repeat="type in vm.playerTypes">
                <td>{{type.id}}</td>
                <td>
                    <span ng-hide="type.editMode">{{type.type}}</span>
                    <input ng-show="type.editMode" ng-model="type.type"/>
                </td>
                <td class="text-center">
                    <button class="btn btn-success btn-sm" ng-click="vm.edit(type)" ng-hide="type.editMode" ng-disabled="vm.editMode"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-success btn-sm" ng-click="vm.save(type)" ng-show="type.editMode"><i class="fa fa-save"></i></button>
                    <button class="btn btn-success btn-sm" ng-click="vm.cancel(type)" ng-show="type.editMode"><i class="fa fa-undo"></i></button>
                    <button class="btn btn-danger btn-sm" ng-click="vm.delete(type)" ng-hide="type.editMode" ng-disabled="vm.editMode"><i class="fa fa-remove"></i></button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="col-md-2 text-center">
                    <button class="btn btn-success" ng-click="vm.insert()" ng-disabled="vm.editMode">add new row...</button>
                </td>
            </tr>
            <tr>
                
            </tr>
        </table>
    </div>
</div>